/* line 5, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
body {
  font-family: Arial;
}

/* line 13, ../scss/main.scss */
.login {
  background: white;
  text-align: center;
}
/* line 17, ../scss/main.scss */
.login__container {
  max-width: 500px;
  margin: 200px auto;
}
/* line 22, ../scss/main.scss */
.login__title {
  color: #1D9F75;
}
/* line 26, ../scss/main.scss */
.login__input {
  text-align: center;
  font-size: 19px;
}
/* line 31, ../scss/main.scss */
.login__btn {
  margin-top: 20px;
}

/* line 36, ../scss/main.scss */
.chat {
  max-width: 450px;
  margin: 10px auto;
  display: none;
}
/* line 41, ../scss/main.scss */
.chat__field {
  min-height: 430px;
  overflow: auto;
  max-height: 430px;
}
/* line 47, ../scss/main.scss */
.chat__notification {
  text-align: center;
  color: #1D9F75;
  font-size: 12px;
  font-style: italic;
}
/* line 54, ../scss/main.scss */
.chat__message {
  margin: 5px;
}
/* line 57, ../scss/main.scss */
.chat__message.own {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
/* line 63, ../scss/main.scss */
.chat__message.own + .chat__message.own .chat__name {
  display: none;
}
/* line 66, ../scss/main.scss */
.chat__message.own + .chat__message.own .chat__field-text:before, .chat__message.own + .chat__message.own .chat__field-text:after {
  content: none;
}
/* line 71, ../scss/main.scss */
.chat__message.own .chat__field-text {
  margin-right: 10px;
  background: #1D9F75;
}
/* line 75, ../scss/main.scss */
.chat__message.own .chat__field-text:after {
  content: '';
  position: absolute;
  right: -11px;
  height: 10px;
  top: 40%;
  width: 10px;
  border-bottom: 2px solid #1D9F75;
  border-right: 1px solid #1D9F75;
  border-bottom-right-radius: 35%;
}
/* line 91, ../scss/main.scss */
.chat__message:not(.own) .chat__field-text {
  margin-left: 10px;
  background: #bbdb54;
}
/* line 94, ../scss/main.scss */
.chat__message:not(.own) .chat__field-text:before {
  content: '';
  position: absolute;
  left: -11px;
  height: 10px;
  top: 40%;
  width: 10px;
  border-bottom: 2px solid #bbdb54;
  border-left: 1px solid #bbdb54;
  border-bottom-left-radius: 35%;
}
/* line 110, ../scss/main.scss */
.chat__img {
  width: auto;
  max-width: 50%;
  max-height: 160px;
  padding: 5px;
  background: #87bee8;
}
/* line 118, ../scss/main.scss */
.chat__name {
  color: #72b3e3;
  margin-bottom: 5px;
  font-size: 13px;
}
/* line 124, ../scss/main.scss */
.chat__input {
  height: 80px;
  resize: none;
  margin: 15px 0 10px;
  padding-right: 30px !important;
}
/* line 131, ../scss/main.scss */
.chat__field-text {
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  word-wrap: break-word;
  max-width: 250px;
  color: white;
  position: relative;
}
/* line 141, ../scss/main.scss */
.chat__form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
/* line 149, ../scss/main.scss */
.chat__input-container {
  position: relative;
  width: 100%;
}

/* line 157, ../scss/main.scss */
.file__input {
  display: none;
}
/* line 161, ../scss/main.scss */
.file__lbl {
  font-size: 25px !important;
  color: #1D9F75;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 10px;
}

/* line 171, ../scss/main.scss */
.input {
  border: none;
  border-bottom: 1px solid #479CDB;
  padding: 10px 15px;
  width: 100%;
  outline: none;
}

/* line 179, ../scss/main.scss */
.btn {
  background: #479CDB;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}
/* line 188, ../scss/main.scss */
.btn:hover {
  background: #5ca7df;
}
