$main: #479CDB;
$secondary: #1D9F75;
$third: #bbdb54;

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.login {
  background: white;
  text-align: center;

  &__container {
    max-width: 500px;
    margin: 200px auto;
  }

  &__title {
    color: $secondary
  }

  &__input {
    text-align: center;
    font-size: 19px;
  }

  &__btn {
    margin-top: 20px;
  }
}

.chat {
   max-width: 450px;
   margin: 10px auto;
   display: none;

   &__field {
     min-height: 430px;
     overflow: auto;
     max-height: 430px;
   }

   &__notification {
     text-align: center;
     color: $secondary;
     font-size: 12px;
     font-style: italic;
   }

   &__message {
    margin: 5px;

     &.own {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

       & + .chat__message.own {
         .chat__name {
           display: none;
         }
         .chat__field-text:before, .chat__field-text:after {
           content: none;
         }
       }

       .chat__field-text {
         margin-right: 10px;
         background: $secondary;

         &:after {
           content: '';
           position: absolute;
           right: -11px;
           height: 10px;
           top: 40%;
           width: 10px;
           border-bottom: 2px solid $secondary;
           border-right: 1px solid $secondary;
           border-bottom-right-radius: 35%;
         }
       }
     }

     &:not(.own) {

       .chat__field-text {
         margin-left: 10px;
         background: $third;
         &:before {
           content: '';
           position: absolute;
           left: -11px;
           height: 10px;
           top: 40%;
           width: 10px;
           border-bottom: 2px solid $third;
           border-left: 1px solid $third;
           border-bottom-left-radius: 35%;
         }
       }
     }

   }

   &__img {
     width: auto;
     max-width: 50%;
     max-height: 160px;
     padding: 5px;
     background: lighten($main, 15%);
   }

   &__name {
     color: lighten($main, 10%);
     margin-bottom: 5px;
     font-size: 13px;
   }

  &__input {
    height: 80px;
    resize: none;
    margin: 15px 0 10px;
    padding-right: 30px!important;
  }

   &__field-text {
     padding: 10px 15px;
     border-radius: 10px;
     display: inline-block;
     word-wrap: break-word;
     max-width: 250px;
     color: white;
     position: relative;
   }

   &__form {
     display: flex;
     align-items: flex-end;
     flex-direction: column;
     width: 100%;
     margin-top: 20px;
   }

  &__input-container {
    position: relative;
    width: 100%;
  }
 }

.file {

  &__input {
    display: none;
  }

  &__lbl {
    font-size: 25px!important;
    color: $secondary;
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 10px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid $main;
  padding: 10px 15px;
  width: 100%;
  outline: none;
}

.btn {
  background: $main;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border-radius: 3px;

  &:hover {
    background: lighten($main, 5%);
  }
}